@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --default-inline-padding: 3.75rem;
  --default-font-size: 15px;
  --default-font-weight: 500;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

* {
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --default-inline-padding: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --default-inline-padding: 1rem;
    --default-font-size: 13px;
    --default-font-weight: 600;
  }
}
